@charset "utf-8";
/* CSS Document */

/* HTML5 tags */ header, section, footer, aside, nav, article, figure { display: block; }

body {
  background-image:url(http://i370.photobucket.com/albums/oo145/okamido/bg.png);
  color:#383b42;
}

#wrap {
  width:960px;
  margin:0 auto 0 auto;
  background: white;
  padding:0 25px 0 25px;
  -moz-box-shadow: 0px 0px 10px #c2c2c2;
  -webkit-box-shadow: 0px 0px 10px #c2c2c2;
  box-shadow: 0px 0px 10px #c2c2c2;

}

@font-face {
  font-family: BebasNeue;
  src: url(../font/BebasNeue.otf);
  src: url(../font/bebasneue-webfont.eot);
  src: url(../font/bebasneue-webfont.eot?#iefix) format('embedded-opentype'),
  url(../font/bebasneue-webfont.woff) format('woff'),
  url(../font/bebasneue-webfont.svg#BebasNeueRegular) format('svg');
  font-weight: normal;
  font-style: normal;
}

.clear {
  clear:both;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* Header
----------------------------------------------------------------------------------------------------*/

header {
  text-align:center;
  border-top:7px solid #24262b;
  margin-left:-25px;
  margin-right:-25px;
  background-image:url(http://i370.photobucket.com/albums/oo145/okamido/tech_support2.jpg);
  padding-bottom:25px;
}


header .hello {
  font: 28px/1.5  Georgia, Arial, 'Helvetica Neue', 'Liberation Sans', FreeSans, sans-serif;
  font-style:italic;
  color:#e5e5e5;
  margin-top:20px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}


header .name {
  font: 60px/1.5  BebasNeue;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 2px 1px rgba(0,0,0,1);
  margin-bottom:0;
}

header .description {
  font: 28px/1.5  Georgia, Arial, 'Helvetica Neue', 'Liberation Sans', FreeSans, sans-serif;
  font-style:italic;
  color:#e5e5e5;
  margin-top:15px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}


/* Navigation */

nav {
  margin:0 -25px 0 -25px;
  height:54px;
  background: #afcb29; /* Old browsers */
  background: -moz-linear-gradient(top, #afcb29 0%, #7c8f1c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afcb29), color-stop(100%,#7c8f1c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #afcb29 0%,#7c8f1c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #afcb29 0%,#7c8f1c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #afcb29 0%,#7c8f1c 100%); /* IE10+ */
  background: linear-gradient(top, #afcb29 0%,#7c8f1c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afcb29', endColorstr='#7c8f1c',GradientType=0 ); /* IE6-9 */
  -moz-box-shadow: 0px 3px #cfcfcf;
  -webkit-box-shadow: 0px 3px #cfcfcf;
  box-shadow: 0px 3px #cfcfcf;
  filter: progid: DXImageTransform.Microsoft.Shadow(strength = 3, direction = 180, color = '#cfcfcf');
  -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 3, Direction = 180, Color = '#cfcfcf')";

}

nav ul {
  list-style-type: none;
  position:relative; float:left; display:block; left:50%; /* Alignment */
  margin-left:-10px;
}

nav ul li {
  margin:0 0 0 20px;
  padding:0;
  position:relative; float:left; right:50%; /* Alignment */
}

nav ul li a {
  font: 20px/54px  BebasNeue;
  text-decoration:none;
  color:#fff;
  text-shadow: 1px 1px 0px #647416;
  filter: dropshadow(color=#647416, offx=1, offy=1);
  height:54px;
  display:block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  color:#383b42;
}

/* `Worflow - under header & navigation
----------------------------------------------------------------------------------------------------*/

#workflow {
  margin:35px 0 0 0;
}

#description {
  margin-top:25px;
}

#description .step:nth-child(1) {
  margin-left:30px;
}

#description .step:nth-child(2) {
  margin-left:150px;
}

#description .step:nth-child(3) {
  margin-left:90px;
}

#description .step:nth-child(4) {
  margin-left:110px;
}

#description .step {
  float:left;
  font: 20px/1.5  Georgia, Arial, 'Helvetica Neue', 'Liberation Sans', FreeSans, sans-serif;
  font-style:italic;
  text-shadow: 2px 2px 0px #e3e3e3;
  filter: dropshadow(color=#e3e3e3, offx=2, offy=2);
}

.center{
  text-align: center;
}

/* `Toolkit
----------------------------------------------------------------------------------------------------*/
h2.toolkit{
  position: relative;
  background-color: #363940;
  text-align:center;
  text-shadow: 1px 2px 0px #222429;
  filter: dropshadow(color=#222429, offx=1, offy=2);
  color:#fff;
  font: 27px/1.5  BebasNeue;
  padding:6px 0 6px 0;
  margin:35px -25px 65px -25px;
}
.toolkit-icon{
  position: absolute;
  top: 50px;
  left: 50%;
  width: 75px;
  height: 50px;
  margin-left: -37px;
  border-radius: 0 0 50px 50px;
  background-color: #363940;
  text-align:center;
  text-shadow: 1px 2px 0px #222429;
  filter: dropshadow(color=#222429, offx=1, offy=2);
  color:#fff;
}
/* `Portfolio
----------------------------------------------------------------------------------------------------*/

h2.portfolio {
  position: relative;
  background-color: #363940;
  text-align:center;
  text-shadow: 1px 2px 0px #222429;
  filter: dropshadow(color=#222429, offx=1, offy=2);
  color:#fff;
  font: 27px/1.5  BebasNeue;
  padding:6px 0 6px 0;
  margin:35px -25px 65px -25px;
}
.portfolio-icon{
  position: absolute;
  top: 50px;
  left: 50%;
  width: 75px;
  height: 50px;
  margin-left: -37px;
  border-radius: 0 0 50px 50px;
  background-color: #363940;
  text-align:center;
  text-shadow: 1px 2px 0px #222429;
  filter: dropshadow(color=#222429, offx=1, offy=2);
  color:#fff;
}
.project {
  float:left;
  width:280px;
}

.project img {
  margin-bottom:15px;
  border:1px solid #ddd;
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 4px #fff;
  box-shadow: 0px 0px 4px #fff;
}

.project img:hover {
  -moz-box-shadow: 0px 0px 4px #adb0b3;
  -webkit-box-shadow: 0px 0px 4px #adb0b3;
  box-shadow: 0px 0px 4px #adb0b3;
  border:1px solid #9096a0;
}

.project:nth-child(odd) {
  margin-left:32px;
  margin-right:32px;
}

.project-name {
  text-align:center;
  font: 20px/1.5  BebasNeue;
  text-shadow: 2px 2px 0px #e3e3e3;
  filter: dropshadow(color=#e3e3e3, offx=2, offy=2);
  color:#383b42;
}

.project-description {
  text-align:center;
  font: 16px/1.5  Georgia, Arial, 'Helvetica Neue', 'Liberation Sans', FreeSans, sans-serif;
  font-style:italic;
  color:#b3b3b3;
  margin-top:5px;
}

section .separator {
  height:30px;
  clear:both;
}

/* `About me
----------------------------------------------------------------------------------------------------*/

h2.about {
  position: relative;
  background-color: #363940;
  text-align:center;
  text-shadow: 1px 2px 0px #222429;
  filter: dropshadow(color=#222429, offx=1, offy=2);
  color:#fff;
  font: 27px/1.5  BebasNeue;
  padding:6px 0 6px 0;
  margin:35px -25px 65px -25px;
}
.about-icon{
  position: absolute;
  top: 50px;
  left: 50%;
  width: 75px;
  height: 50px;
  margin-left: -37px;
  border-radius: 0 0 50px 50px;
  background-color: #363940;
  text-align:center;
  text-shadow: 1px 2px 0px #222429;
  filter: dropshadow(color=#222429, offx=1, offy=2);
  color:#fff;
}

section .column img.illustration {
  margin-left:57.5px;
}

/* Applies also to 'Contact' form also */
section h3 {
  font: 20px/1.5  BebasNeue;
  text-shadow: 2px 2px 0px #e3e3e3;
  filter: dropshadow(color=#e3e3e3, offx=2, offy=2);
  color:#383b42;
}

section .column {
}

section .column:nth-of-type(1) {
  float:left;
  width:429px;
  padding-right:25px;
}

section .column:nth-of-type(2) {
  border-left:1px dashed #c5c5c5;
  float:right;
  width:429px;
  padding-left:25px;
}

/* Contact
----------------------------------------------------------------------------------------------------*/

h2.contact {
  position: relative;
  background-color: #363940;
  text-align:center;
  text-shadow: 1px 2px 0px #222429;
  filter: dropshadow(color=#222429, offx=1, offy=2);
  color:#fff;
  font: 27px/1.5  BebasNeue;
  padding:6px 0 6px 0;
  margin:35px -25px 65px -25px;
}
.contact-icon{
  position: absolute;
  top: 50px;
  left: 50%;
  width: 75px;
  height: 50px;
  margin-left: -37px;
  border-radius: 0 0 50px 50px;
  background-color: #363940;
  text-align:center;
  text-shadow: 1px 2px 0px #222429;
  filter: dropshadow(color=#222429, offx=1, offy=2);
  color:#fff;
}

.social {
float:left;
margin:0;
}

ul.social li {
float:left;
list-style:none;
margin:0;
padding:0;
}

ul.social li img {
float:left;
margin-right:10px;
margin-left:0;
-webkit-transition: all .25s linear;
-moz-transition: all .25s linear;
-o-transition: all .25s linear;
transition: all .25s linear;
opacity: 0.9;
-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 90);
filter: alpha(opacity = 90);
}

ul.social li img:hover {
float:left;
margin-right:10px;
margin-left:0px;
opacity: 1;
-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 100);
filter: alpha(opacity = 100);
}


/* Footer
----------------------------------------------------------------------------------------------------*/

footer {
  text-align:center;
  height:55px;
  text-shadow: 1px 2px 0px #222429;
  filter: dropshadow(color=#222429, offx=1, offy=2);
  color:#fff;
  font: 14px/55px  BebasNeue;
  background:url(../images/footer.png);
  margin-left:-25px;
  margin-right:-25px;
}


section {
    display: block
}
.lines H2{

}
.technologies {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style-type: none
}
.technologies-text h3{
  font-weight: 700;
  letter-spacing:-.05em;
  color: #333;
  margin: 0 0 10px 0;
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.technologies li {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 5px;
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    overflow: hidden
}
.technologies li:hover {
    box-shadow: 0 0 10px #acacac;
    cursor: pointer
}
.technologies li:hover>span {
    opacity: .08
}
.technologies li:hover .technologies-text,
.technologies li:hover .technologies-text span {
    opacity: 1
}
.technologies li:hover .technologies-text h3 {
    margin: 0;
    line-height: 1.1
}
.technologies li:hover .technologies-text p {
    font-size: 12px;

    line-height: 1.1;
    margin: 5px 0 0
}
.technologies li:hover .technologies-text .link {
    font-size: 12px;
}
.technologies li>span {
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 10px
}
.technologies .technologies-text {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s
}
.technologies .technologies-text span {
  font-family: 'Droid Sans', sans-serif;
    font-size: 1em;
  color: #707070;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
    opacity: 0
}
.tech{
  font-family: 'Droid Sans', sans-serif;
    font-size: 2em;
  color: #707070;
}
.icon-technologies-apache,
.icon-technologies-atom,
.icon-technologies-os,
.icon-technologies-angular,
.icon-technologies-browsers,
.icon-technologies-css3,
.icon-technologies-git,
.icon-technologies-github,
.icon-technologies-html5,
.icon-technologies-javascript,
.icon-technologies-jquery,
.icon-technologies-mysql,
.icon-technologies-nginx,
.icon-technologies-nodejs,
.icon-technologies-responsive,
.icon-technologies-python,
.icon-technologies-vagrant {
    background-image: url(https://s3-us-west-2.amazonaws.com/txw2/Portfolio/logos.png);
    width: 100px;
    height: 100px;
}
.icon-technologies-apache {
    background-position: 0 -300px
}
.icon-technologies-atom {
    background-position: -400px -100px
}
.icon-technologies-os {
    background-position: -300px -100px
}
.icon-technologies-angular {
    background-position: 0 -200px
}
.icon-technologies-browsers {
    background-position: -400px 0
}
.icon-technologies-css3 {
    background-position: -100px 0
}
.icon-technologies-git {
    background-position: -100px -100px
}
.icon-technologies-github {
    background-position: -200px -100px
}
.icon-technologies-html5 {
    background-position: 0 0
}
.icon-technologies-javascript {
    background-position: -200px 0
}
.icon-technologies-jquery {
    background-position: -300px 0
}
.icon-technologies-mysql {
    background-position: -100px -200px
}
.icon-technologies-nginx {
    background-position: -100px -300px
}
.icon-technologies-nodejs {
    background-position: -200px -200px
}
.icon-technologies-responsive {
    background-position: 0 -100px
}
.icon-technologies-python {
    background-position: -400px -200px
}
.icon-technologies-vagrant {
    background-position: -300px -200px
}

.fccIcon{
  color: #fff;
  height: 30px;
  width: 30px
}
.hIcon{
  color: #fff;
  height: 30px;
  width: 30px
}
/*=== MB share buttons ===*/
.mb_share .button {
  background:#DCE0E0;
  position:relative;
  float:left;
  margin:0 7px 14px;
  width:150px;
  height:40px;
  overflow:hidden;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.mb_share .button .icon {
  float:left;
  z-index:200;
  position:relative;
  width:40px;
  height:40px;
  -webkit-border-radius:3px 0px 0px 3px;
  -moz-border-radius:3px 0px 0px 3px;
  border-radius:3px 0px 0px 3px;
  background-repeat:no-repeat;
padding: 10px;
}
.mb_share .button .native_button {
  width:110px;
  height:40px;
  float:left;
  background:#DCE0E0 !important;
  display:table;
}
.mb_share .button .native_button > div {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
.mb_share .button .slide {
  position:absolute;
  right:0;
  top:0;
  z-index:100;
  float:left;
  width:110px;
  height:40px;
  transition:.2s transform linear;
  -webkit-transition:.2s -webkit-transform linear;
  -moz-transition:.2s -moz-transform linear;
}
.mb_share .button .slide span {
  color:#fff;
  display:block;
  cursor:default;
  width:100%;
  text-align:center;
  margin:7px 0;
  padding:2px 0;
  font-size:16px;
  border-left:1px solid rgba(255,255,255,0.35);
}
/* Transitions */
.mb_share .button.slide_x:hover .slide {
  -webkit-transform:translateX(110px);
  -moz-transform:translateX(110px);
  transform:translateX(110px);
}
.mb_share .button.slide_nx:hover .slide {
  -webkit-transform:translateX(-110px);
  -moz-transform:translateX(-110px);
  transform:translateX(-110px);
}
.mb_share .button.slide_y:hover .slide {
  -webkit-transform:translateY(40px);
  -moz-transform:translateY(40px);
  transform:translateY(40px);
}
.mb_share .button.slide_ny:hover .slide {
  -webkit-transform:translateY(-40px);
  -moz-transform:translateY(-40px);
  transform:translateY(-40px);
}
/*========================*/
/*=== Colors ===*/
/* EMAIL */
.mb_share .button.email .icon {
  color: #fff;
}
.mb_share .button.email > div {
  background-color:#D4473A;
}
/* FREECODECAMP */
.mb_share .button.fcc .icon {
  color: #fff;
  padding: 7px;
}
.mb_share .button.fcc > div {
  background-color:#006400;

}
.mb_share .button.fcc .slide >span{
    font-size: 14px;
}
/* HACKERRANK */
.mb_share .button.hackerrank .icon {
  color: #fff;
  padding: 10px;
}
.mb_share .button.hackerrank > div {
  background-color:#2EC765;

}
/* PROJECTEULER */
.mb_share .button.euler .icon {
  color: #fff;
}
.mb_share .button.euler > div {
  background-color:#6B4E3D;

}
/* FACEBOOK */
.mb_share .button.facebook .icon {
  background-position:-40px 0;
}
.mb_share .button.facebook > div {
  background-color:#305c99;
}
/* TWITTER */
.mb_share .button.twitter .icon {
  background-position:0 0;
}
.mb_share .button.twitter > div {
  background-color:#00cdff;
}
/* YOUTUBE */
.mb_share .button.youtube .icon {
  color: #fff;
}
.mb_share .button.youtube > div {
  background-color:#e22b26;
}
/* GOOGLE PLUS */
.mb_share .button.gplus .icon {
  color: #fff;
}
.mb_share .button.gplus > div {
  background-color:#3f3d3e;
}
/* CODEPEN */
.mb_share .button.codepen .icon {
  color: #fff;
}
.mb_share .button.codepen > div {
  background-color:#3f3d3e;
}
/* LINKEDIN */
.mb_share .button.linkedin .icon {
  color: #fff;
}
.mb_share .button.linkedin > div {
  background-color:#007bb6;
}

/* GITHUB */
.mb_share .button.github .icon {
  color: #fff;
}
.mb_share .button.github > div {
  background-color:#42c0fb;
}
/* STACKOVERFLOW */
.mb_share .button.stackoverflow .icon {
  color: #fff;
}
.mb_share .button.stackoverflow > div {
  background-color:#FFA500;
}
